/* body {
  width: 50vh;
  height: 50vh;
  padding: auto;
} */
.container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row dense;
  border: 3px solid red;
  padding: 1rem;
  /* width: 50%; */
  background-color: black;
}

img {
  /* height: 30px;
  height: 150px; */
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* line-height: 2.8rem; */
}

.box:nth-child(2n) {
  /* background-color: blue; */
  grid-column: span 2;
  grid-row: span 3;
}

.box:nth-child(6n) {
  /* background-color: palegreen; */
  grid-column: span 2;
  grid-row: span 5;
}

.box:nth-child(6n) {
  /* background-color: palegreen; */
  grid-column: span 5;
  grid-row: span 2;
}
